<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/root.css" />
<html lang="en">
  <head>
    <title>Easy Poker</title>
  </head>
  <body>
  <%- include("menubar.ejs") %>
    <div class="MainContentWrapper">
      <h1 class="WelcomeMessage">Error 404</h1>
      <p class="Text">Page not found</p>
    </div>
  </body>
</html>