<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Easy Poker</title>
    <link rel="stylesheet" type="text/css" href="/css/coinflip.css" />
    <link rel="stylesheet" type="text/css" href="/css/themetest.css" />
  </head>
  <body>
    <div class="container">
      <div class="values">
        <p id="players"></p>
      </div>
    </div>
    <div class="container">
      <div class="values">
        <p id="cf-result">??</p>
      </div>
      <div class="buttons">
        <button id="start">Start</button>
      </div>
      <div class="buttons">
        <button class="red-button" id="join-game">Join Game</button>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/scripts/coinflip.js"></script>
    </div>
  </body>
</html>
