<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="values">
        <p>&#x2764;</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="container">
      <div class="values">
        <p id="card1">??</p>
        <p id="card2">??</p>
      </div>
      <div class="buttons">
        <button onclick="call()">Call</button>
        <button onclick="check()">Check</button>
        <button onclick="fold()">Fold</button>
        <button onclick="raise()">Raise</button>
      </div>
      <div class="buttons">
        <button class="redbutton" onclick="shuffle()">Shuffle</button>
      </div>
      <script>
        const token = "<%= token %>";
        const userId = "<%= userId %>";
      </script>
      <script src="scripts.js"></script>
    </div>
  </body>
</html>
