<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<html>
    <head>
        <title>Easy Poker</title>
    </head>
    <body>
        <header>
            <div class="MenuBar" id="MenuBar">
                <div class="MenuBarContentContainer" id="MenuBarContentContainer">
                    <div class="MenuBarTitleWrapper">
                        <a class="Title" id="Title" href="/">Easy Poker!</a>
                    </div>
                    <div class="MenuBarLinkButtonsWrapper">
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                    </div>
                    <div class="MenuBarLoginWrapper">
                        <a class="MenuBarLinkButtons" href="/login">Login</a>
                        <a class="MenuBarLinkButtons" href="/sign-up">Sign Up</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="MainContentWrapper">
            <p class="PageName">Login</p>
            <div class="AuthenticationWrapper">
                <label class="AuthenticationSpecifier" for="UsernameInput">Username:</label>
                <input class="AuthenticationInput" id="UsernameInput" type="text"><br><br>
                <label class="AuthenticationSpecifier" for="PasswordInput">Password:</label>
                <input class="AuthenticationInput" id="PasswordInput" type="password"><br><br>
                <button class="Submit" onclick="login()">Login</button>
            </div>
        </div>
    </body>
    <script src="/scripts/login.js"></script>
</html>