<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/login.css"/>
<html>
  <head>
    <title>Easy Poker</title>
  </head>
    <%- include("menubar.ejs") %>
  <body>
    <div class="MainContentWrapper">
      <div class="FindABetterName">
        <p class="PageName">Login</p>
        <div class="AuthenticationWrapper">
          <div class="AuthenticationField">
            <label class="AuthenticationSpecifier" for="UsernameInput">Username:</label><br />
            <input class="AuthenticationInput" id="UsernameInput" type="text" />
          </div>
          <div class="AuthenticationField">
            <label class="AuthenticationSpecifier" for="PasswordInput">Password:</label><br />
            <input class="AuthenticationInput" id="PasswordInput" type="password" />
          </div>
          <button class="AuthenticationButton" id="login">Login</button>
          <p class="AuthenticationSubtext">Don't have an account? <a class="AuthenticationSubtextLink" href="/sign-up">Sign up</a></p>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="/scripts/login.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.11/purify.min.js"
    integrity="sha512-ce0fmuEgWrpnIXWKQrSgJ5FsBsr/hnOsxdWvk5lu1GThckasLwc+TAFERLNIwWnWqBoWV4GPDJiz2PSPntinVA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
