<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/play.css" />
<html lang="en">
  <head>
    <title>Easy Poker</title>
  </head>
  <body>
  <%- include("menubar.ejs") %>
    <div class="MainContentWrapper">
        <div class="ColumnWrapper">
            <div class="WelcomeMessagesWrapper">
              <h1 class="WelcomeMessage">Easy Poker Play Page</h1>
              <p class="Text">Basic page to test creating rooms for games</p>
              <p class="LineSeperator"><button class="Button" onclick="location.href = '/poker'">Play</button></p>
            </div>
            <div class="TestingWrapper">
              <button class="Button" id="CreateRoomButton">Create Room</button>
              <input class="Input" id="CreateRoomInput">
            </div>
            <div class="TestingWrapper">
              <button class="Button" id="RemoveRoomButton">Remove Room</button>
              <input class="Input" id="RemoveRoomInput">
            </div>
            <div class="TestingWrapper">
              <button class="Button" id="AddPlayerToRoomButton">Add Player to Room</button>
              <label class="Text">Room: </label>
              <input class="Input" id="AddPlayerRoomInput">
              <label class="Text">Player: </label>
              <input class="Input" id="AddPlayerPlayerInput">
            </div>
            <div class="TestingWrapper" id="RoomsWrapper">
              <button class="Button" id="GetRoomsButton">Refresh Rooms</button>
            </div>
            <div class="RoomsContainer" id="RoomsContainer">
              <div class="RoomsHeaderWrapper">
                <div class="Room" style="border: none;">
                  <div class="RoomNameWrapper">
                    <div style="font-size: 20px;color: var(--color-3);">Room Name</div>
                  </div>
                  <div class="RoomTypeWrapper">
                    <div style="font-size: 20px;color: var(--color-3);">Room Type</div>
                  </div>
                  <div class="RoomMaxPlayersWrapper">
                    <div style="font-size: 20px;color: var(--color-3);">Max Players</div>
                  </div>
                  <div class="RoomPublicStatusWrapper">
                    <div style="font-size: 20px;color: var(--color-3);">Public Room?</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <script type="module" src="/scripts/play.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.11/purify.min.js"
    integrity="sha512-ce0fmuEgWrpnIXWKQrSgJ5FsBsr/hnOsxdWvk5lu1GThckasLwc+TAFERLNIwWnWqBoWV4GPDJiz2PSPntinVA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  </body>
</html>
