<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<html lang="en">
  <head>
    <title>Easy Poker</title>
  </head>
  <body>
    <%- include("menubar.ejs") %>
    <div class="MainContentWrapper">
        <h1 class="Text"><span style="color: #c0eb6a;"><%= profileOf %>'s </span>Profile</h1>
    </div>
    <script type="module" src="/scripts/profile.js"></script>
  </body>
</html>
