<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/root.css" />
<html>
    <head>
        <title>Easy Poker</title>
    </head>
    <body>
        <header>
            <div class="MenuBar" id="MenuBar">
                <div class="MenuBarContentContainer" id="MenuBarContentContainer">
                    <div class="MenuBarTitleWrapper">
                        <a class="Title" id="Title" href="/">Easy Poker</a>
                    </div>
                    <div class="MenuBarLinkButtonsWrapper">
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                        <a class="MenuBarLinkButtons" href="/">Temp</a>
                    </div>
                    <div class="MenuBarLoginWrapper">
                        <a class="MenuBarLinkButtons" href="/login">Login</a>
                        <a class="MenuBarLinkButtons" href="/sign-up">Sign Up</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="MainContentWrapper">
            <h1 class="WelcomeMessage">Welcome to Easy Poker</h1>
            <p class="Text">An in progress project from wkRaphael and Mcronald!</p>
            <p class="LineSeperator"><button class="Button" onclick="location.href = '/play'">Play</button></p>
        </div>
    </body>
</html>