<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/root.css" />
<html lang="en">
  <head>
    <title>Easy Poker</title>
  </head>
  <%- include("menubar.ejs") %>
  <body>
    <div class="MainContentWrapper">
      <h1 class="WelcomeMessage">Welcome to Easy Poker</h1>
      <p class="Text">An in progress project from wkRaphael and Mcronald!</p>
      <p class="LineSeperator"><button class="Button" onclick="location.href = '/play'">Play</button></p>
    </div>
    <script type="module" src="/scripts/root.js"></script>
  </body>
</html>
