<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
<html>
  <head>
    <title>Easy Poker</title>
  </head>
  <body>
    <header>
      <div class="MenuBar" id="MenuBar">
        <div class="MenuBarContentContainer" id="MenuBarContentContainer">
          <div class="MenuBarTitleWrapper">
            <a class="Title" id="Title" href="/">Easy Poker</a>
          </div>
          <div class="MenuBarLinkButtonsWrapper">
            <a class="MenuBarLinkButtons" href="/">Temp</a>
            <a class="MenuBarLinkButtons" href="/">Temp</a>
            <a class="MenuBarLinkButtons" href="/">Temp</a>
            <a class="MenuBarLinkButtons" href="/">Temp</a>
          </div>
          <div class="MenuBarLoginWrapper">
            <a class="MenuBarLinkButtons" href="/login">Login</a>
            <a class="MenuBarLinkButtons" href="/sign-up">Sign Up</a>
          </div>
        </div>
      </div>
    </header>
    <div class="MainContentWrapper">
      <div class="FindABetterName">
        <p class="PageName">Sign Up</p>
        <div class="AuthenticationWrapper">
          <div class="AuthenticationField">
            <label class="AuthenticationSpecifier" for="UsernameInput">Username:</label><br />
            <input class="AuthenticationInput" id="UsernameInput" type="text" />
          </div>
          <div class="AuthenticationField">
            <label class="AuthenticationSpecifier" for="EmailInput">Email:</label><br />
            <input class="AuthenticationInput" id="EmailInput" type="email" />
          </div>
          <div class="AuthenticationField">
            <label class="AuthenticationSpecifier" for="PasswordInput">Password:</label><br />
            <input class="AuthenticationInput" id="PasswordInput" type="password" />
          </div>
          <button class="AuthenticationButton" id="signup">Create Account</button>
          <p class="AuthenticationSubtext">Already have an account? <a class="AuthenticationSubtextLink" href="/login">Login</a></p>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="/scripts/sign-up.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.11/purify.min.js"
    integrity="sha512-ce0fmuEgWrpnIXWKQrSgJ5FsBsr/hnOsxdWvk5lu1GThckasLwc+TAFERLNIwWnWqBoWV4GPDJiz2PSPntinVA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
