:root{
  --color-1: #25322e;
  --color-2: #42564f;
  --color-3: #c0eb6a;
  --color-4: #76913f;
  --color-5: #f7f6e7;
  --color-6: #dfddc5;
  --text-color: #FFFFFF;
}
body{
  background-color: var(--color-1);
  background-image: url("/icons/background.png");
  background-size: 512px;
  font-family: Arial, sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
}
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.WelcomeMessage{
  margin: 0px;
  color: var(--text-color);
}
.ColumnWrapper{
  flex-direction: column;
  margin: none;
}
.WelcomeMessagesWrapper{
  flex-direction: column;
  margin: 10px;
}
.TestingWrapper{
  flex-direction: row;
  margin: 10px;
}
.RoomsContainer{
  display: flex;
  border-style: solid;
  border-color: var(--color-1);
  border-width: 5px;
  margin: 10px;
  flex-direction: column;
}
.RoomsHeaderWrapper{
  display: flex;
  flex-direction: row;
}
.RoomsWrapper{
  display: flex;
  flex-direction: column;
}
.Room{
  display: flex;
  border-style: solid;
  border-color: var(--color-1);
  color: var(--text-color);
  border-top-width: 2px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  flex-direction: row;
}
.RoomNameWrapper{
  display: flex;
  width: 200px;
  padding: 15px;
  justify-content: center;
}
.RoomTypeWrapper{
  display: flex;
  width: 35px;
  margin-left: 25px;
  padding: 15px;
  justify-content: center;
}
.RoomMaxPlayersWrapper{
  display: flex;
  width: 35px;
  margin-left: 25px;
  padding: 15px;
  justify-content: center;
}
.RoomPublicStatusWrapper{
  display: flex;
  width: 75px;
  margin-left: 25px;
  padding: 15px;
  justify-content: center;
}
.Text{
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--text-color);
  size: 12px;
}
.Button{
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--color-4);
}
.Button:hover{
  color: var(--color-6);
}
.MainContentWrapper{
  display: flex;
  margin-top: min(10px, 1vh);
  margin-bottom: min(10px, 1vh);
  border-radius: 5px;
  height: fit-content;
  background-color: var(--color-2);
}