:root {
  --color-1: #25322e;
  --color-2: #42564f;
  --color-3: #c0eb6a;
  --color-4: #76913f;
  --color-5: #f7f6e7;
  --color-6: #dfddc5;
  --text-color: #ffffff;
}
body {
  background-color: var(--color-1);
  background-image: url("/icons/background.png");
  background-size: 512px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: var(--color-2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.values {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.values p {
  font-variant-emoji: text;
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  color: #dcdcdc;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #45a049;
}
.red-button {
  background-color: #af4c4c;
}
.red-button:hover {
  background-color: #964141;
}
