:root{
    --color-1: #25322e;
    --color-2: #42564f;
    --color-3: #c0eb6a;
    --color-4: #76913f;
    --color-5: #f7f6e7;
    --color-6: #dfddc5;
    --text-color: #FFFFFF;
}
body{
    background-color: var(--color-1);
    background-image: url("/icons/background.png");
    background-size: 512px;
    font-family: Arial, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.WelcomeMessage{
    margin: 0;
    color: var(--text-color);
}
.Text{
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--text-color);
    size: 12px;
}
.Button{
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--color-2);
}
.Button:hover {
    color: var(--color-6);
}
.LineSeperator{
    margin: 0;
}
.MainContentWrapper{
    margin: 10px;
}